{% extends 'base.html' %}

{% block title %} R and J's Bookstore {% endblock %}

{% block content%}


   <!-- START Logo image -->
   <div class = "container">
     <img src="{{ url_for('static', filename = 'images/logo_500x500.png')}}" class="rounded mx-auto d-block" alt="...">
   </div>`
   <!-- END Logo image -->

   <div class = "home-text">
     <h3 class="text-center">Is the book you're looking for listed below?</h3>
     <p class="text-center">Please check the appropiate box</p>
     <p class="text-center">{{ test }}</p>
   </div>


   <!-- START table Section -->
   <div class = "container">
   <form action="/recommendation" method="POST">
   <table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
      <tbody>
        {% for item in titles %}
          <tr>
              <td>
                <div class="radio">
                  <label>
                  <input type="radio" name='selected_book' id='selected_book' value='{{ item.isbn }}' >
                  {{ item.isbn }}
                  </label>
              </td>

              <td>
                <div class = 'radiotext'>
                  <label for='selected_book'>{{ item.title }}
                  </label>
              </td>

              <td>
                <div class = 'radiotext'>
                  <!-- might have to call like the_indices
                  item['isbn']
                  -->
                  <label for='selected_book'>{{ item.author }}
                  </label>
              </td>
            </tr>
        {% endfor %}
      </tbody>
   </table>

   <!-- Start button Section -->
   <button type="submit" class="btn btn-outline-dark btn-bloc"> Submit </button>
   <!-- END button Section -->
   </form>
   </div>
   <!-- END table Section -->



   <!-- Start button Section -->
   <div class = "home-text">
     <h3 class="text-center">Didn't find your book?</h3>
     <p class="text-center">This book must not be in our store. Please try again with a new book below!</p>
   </div>`

   <!-- when we fill uout a form we are posting, when we are going to a webpage we are getting a page -->
   <!-- START Input Section -->
  <div class="container">
    <form action="/answer" method="POST">
      <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter book and author name" name ="initial_book">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" value="Search For Answer">Search</button>
        </div>
      </div>
    </form>
  </div>
   <!-- END button Section -->


{% endblock %}
