{% extends 'base.html' %}

{% block title %} R and J's Bookstore {% endblock %}

{% block content%}

  <script src="{{url_for('static', filename='js/recommendation_popover.js')}}"> </script>

   <!-- START Logo image -->
   <div class = "container">
     <img src="{{ url_for('static', filename = 'images/logo_500x500.png')}}" class="rounded mx-auto d-block" alt="...">
   </div>
   <!-- END Logo image -->

   <!-- START Input Section -->
   <div class="container">
     <form action="/answer" method="POST">

     <div class="input-group mb-3">
       <input type="text" class="form-control" placeholder="Book and Author Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
       <div class="input-group-append">
         <button class="btn btn-outline-secondary" type="button" value="Search For Answer">Search</button>
       </div>
     </div>
     </form>
    </div>
   <!-- END Input Section -->

   <div class = "home-text">
     <h3 class="text-center">Our bookstore recommendations!</h3>
     <p class="text-center">Visit our bookstore to find these recommendations</p>
   </div>


     <!-- START table Section -->

     <!-- Stack the columns on mobile by making one full-width and the other half-width -->
   <div class="container" style="display: flex;">
       <div class = 'align-middle' style="width: 30%">
           <img src="{{ recommendation_cover }}" class="rounded mx-auto d-block" alt="...">
       </div>
            <!-- Right hand side of DIV-->
     <div style="flex-grow: 1; ">
          <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>{{ book }}</td>
                <td>{{ recommendation_title}}</td>
                <td>{{ recommendation_author}}</td>
              </tr>
            </tbody>
          </table>

          <p>Descriptions<p>
          <p class="lead"> {{ recommendation_description}}</p>

          <!-- STARTN TESTING STUFF  -->

          <!-- STARTN TESTING STUFF  -->



        </div>
   </div>




   <!-- START table Section -->
   <br>
   <br>

   <form action="/recommendation" method="POST">
   <div class="row" style="margin-right: 10px; margin-left:10px;">
     {% for item in useless_recommendation %}
     <div class="col-lg-4" style="margin-bottom:15px;">
       <div class="card text-center border-dark">
         <br>
         <!--


                                ADD A DEFAULT image

                                I KNOW YOU SEE This

                                DO IT!

         -->
         <img class="rounded mx-auto d-block" src="{{ item.cover }}" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">{{ item.title }}</h5>
           <p font-weight:bold;> {{ item.author }}</p>
           <p class="card-text"> {{ item.description }}</p>
           <input type="radio" name='selected_book' id='selected_book' value='{{ item.isbn }}' >
           {{ item.isbn }}
           </label>
           <br>
           <button type="submit" class="btn btn-outline-dark btn-bloc"> Submit </button>
       </div>

     </div>
   </div>
        {% endfor %}
  </div>
  </form>





   <!-- Start button Section -->

   <!-- END button Section -->


{% endblock %}
