{% extends 'base.html' %}

{% block title %} R and J's Bookstore {% endblock %}

{% block content%}


   <!-- START Logo image -->
   <div class = "container">
     <img src="{{ url_for('static', filename = 'images/logo_500x500.png')}}" class="rounded mx-auto d-block" alt="...">
   </div>`
   <!-- END Logo image -->

   <!-- START Input Section -->
   <div class="container">
     <form action="/answer" method="POST">

     <div class="input-group mb-3">
       <input type="text" class="form-control" placeholder="Book and Author Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
       <div class="input-group-append">
         <button class="btn btn-outline-secondary" type="button" value="Search For Answer">Search</button>
       </div>
     </div>
     </form>
    </div>
   <!-- END Input Section -->

   <div class = "home-text">
     <h3 class="text-center">Our bookstore recommendations!</h3>
     <p class="text-center">Visit our bookstore to find these recommendations</p>
   </div>


   <!-- START table Section -->

   <!-- Stack the columns on mobile by making one full-width and the other half-width -->
   <div class="container" style="display: flex; height: 100px;">
       <div style="width: 30%; background: green;">
           Left Div
       </div>

       <div style="flex-grow: 1; background: blue;">
           Right Div
       </div>
   </div>
   <!-- START table Section -->


   <!-- Start button Section -->

   <!-- END button Section -->


{% endblock %}
